body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    background: rgb(10, 8, 74) url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZXlhbTVoYjdjbGhwem50Mjl1NHVxeWt0eXk0dTd6czRtNXBwdGZqbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TxVVB6PfWMjE4/giphy.webp) no-repeat fixed center;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #272628, #1b1a23 50%, #161d1d);
    font-family: monospace
}

.project h1 {
    font-family: monospace;
    color: #1E5F7D;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.abilities h3 {
    font-family: monospace;
    color: #ae6711;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.project h2 {
    font-family: monospace;
    color: #1E5F7D;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.project h3 {
    font-family: monospace;
    color: #307D1E;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.project h4 {
    font-family: monospace;
    color: #1E5F7D;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.project p {
    font-family: monospace;
    color: #307D1E;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.project strong {
    color: #32869b;
}

.project li {
    color: #ae6711;
}

.s3 {
    color: #ff00ff;
}

.aboutme h3 {
    font-family: monospace;
    color: #ae6711;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.buttonlink {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.buttonlink:hover {
    cursor: pointer;
}

.details {
    font-family: monospace;
    font-size: 20px;
    display: none;
    margin-top: 20px;
}

.details h3 {
    color: #6B1E7D;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details ul li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
    color: #000000;
    margin-top: 20px;
}

/* Botão! CSS por https://uiverse.io/profile/Cevorob*/

button {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #414141;
    background: #e8e8e8;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
}

button:before,
button:after {
    content: "";
    position: absolute;
    background: #e8e8e8;
    transition: all .2s linear;
}

button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

button:hover {
    cursor: crosshair;
}

button:active {
    transform: scale(0.95);
}

button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

button span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
}

/* From Uiverse.io by Kemboi-Dun, adapted */

.terminal {
    width: auto;
    height: auto;
}

.terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #3d3d3d;
    justify-content: space-between;
}

.butt {
    display: flex;
    align-items: center;
}

.current_tab {
    border: 1px solid #000000;
    color: #ededed;
    background: #0f0f0f;
    padding: 0 6px;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.current_tab:hover {
    background: #1f1f1f;
}

.current_tab exitbtncolour {
    background: #611c1c;
    cursor: pointer;
}

.current_tab newtabbtncolour {
    cursor: pointer;
}

.controller_tab {
    border: 1px solid #510505;
    color: #b51919;
    background: #f37458;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    cursor: pointer;
}

.terminal_body {
    background: rgba(0, 0, 0, 0.6);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.terminal_promt {
    display: flex;
}

.terminal_promt span {
    margin-left: 4px;
}

.terminal_location {
    color: #4878c0;
}

.terminal_bling {
    color: #dddddd;
}

.terminal_cursor {
    display: block;
    height: 35px;
    width: 12px;
    margin-left: 10px;
    margin-top: 5px;
    animation: curbl 1200ms linear infinite;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    text-decoration: underline;
}

@keyframes curbl {

    0% {
        background: #ffffff;
    }

    49% {
        background: #ffffff;
    }

    60% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: #ffffff;
    }
}